.col-wrap {
	overflow: hidden;
}

.well {
	margin-left: 15px;
	margin-right: 15px;
}

.form-and-resp {
	margin-top: 20px;
}

#info-col {
	display: none;
}


tr {
	line-height: 35px;
}

td {
	width: 100px;
}

.heading {
	text-align: center;
}