.eq-height {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.col-wrap {
	overflow: hidden;
}

.well {
	margin-left: 15px;
	margin-right: 15px;
}

.form-and-resp {
	margin-top: 20px;
}

#info-col {
	display: none;
}
